@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$gray3: #828282;
$d-gray: #333333;
.gray-3 {
    color: #828282;
}
.d-gray {
    color: #333333;
}
body {    
    font-family: 'Montserrat', sans-serif;
}
img {
    border-radius: 20px;
    &:hover {
        transform: translate(.2, .5);
    }
}
.w-90 {
    width: 90%;
}
.fa-star {
    color: #EB5757;
}
.super-post {
    font-size: 12px;
    border-radius: 30px;
    border: 2px solid #4F4F4F;
    text-align: center;
    padding: 0.8rem 1rem;
}
.type {
    color: $gray3;
    font-weight: 600;
}
.title {
    color: $d-gray;
}
.f14 {
    font-size: 1.25rem;
}
.input1 {
    background-color: #FFFFFF;
    box-shadow: 1px 5px 5px rgb(224, 219, 219);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgb(224, 219, 219);
    &:focus,&:focus-visible {
        border: 1px solid #EB5757!important;
    }
}
.input2 {
    background-color: #FFFFFF; 
    border: 1px solid rgb(224, 219, 219);
    box-shadow: 1px 5px 5px rgb(224, 219, 219);
    &:focus,&:focus-visible {
        border: 1px solid #EB5757!important;
    }
}
.button {
    background-color: #FFFFFF; 
    border: 1px solid rgb(224, 219, 219);
    box-shadow: 1px 5px 5px rgb(224, 219, 219);
    &:focus,&:focus-visible {
        border: 1px solid #EB5757!important;
    }
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.fa-magnifying-glass {
    color: #EB5757;
}
.carding {
    &:hover{
        transition: transform .3s;
    }
}
@media screen and (max-width: 768px) {
    img {
        border-radius: 12px;
    }
    .type,.beds {
        font-size: 12px;
    }
    .super-post {
        border-radius: 10px;
        font-size: 8px;
        font-weight: 700;
        border: 1px solid #4F4F4F;
        padding: 0.2rem 0.2rem;
    }
    .rating {
        font-size: 12px;
    }
    .title {
        font-size: 14px;
    }
    .f14 {
        font-size: 1rem;
        margin: auto 0;
    }
}