@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$gray3: #828282;
$d-gray: #333333;
.gray-3 {
    color: #828282;
}
.d-gray {
    color: #333333;
}
body {    
    font-family: 'Montserrat', sans-serif;
}
img {
    border-radius: 20px;
}
.w-90 {
    width: 90%;
}
.fa-star {
    color: #EB5757;
}
.super-post {
    font-size: 12px;
    border-radius: 50px;
    border: 2px solid #4F4F4F;
    text-align: center;
}
.type {
    color: $gray3;
    font-weight: 600;
}
.title {
    color: $d-gray;
}
.f14 {
    font-size: 1.25rem;
}
@media screen and (max-width: 768px) {
    img {
        border-radius: 12px;
    }
    .type,.beds {
        font-size: 12px;
    }
    .super-post {
        border-radius: 12px;
        font-size: 10px;
        border: 1px solid #4F4F4F;
    }
    .rating {
        font-size: 12px;
    }
    .title {
        font-weight: 14px;
    }
    .f14 {
        font-size: 1rem;
        margin: auto 0;
    }
}